.album-page {
  display: flex;
}

.playlist {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 40px 0 0;
  overflow-y: scroll;
  padding: 0 0 0 70px;
}

.playlist li {
  list-style: none;
  width: 100%;
}

.main-sec {
  padding: 0 50px;
  width: 75%;
}
