.header-container {
  align-items: center;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 10px 0;
  width: 25%;
}

.header-container ul {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  padding: 0;
}

.header-container ul li {
  height: 70px;
  list-style: none;
  padding: 10px;
  width: 200px;
}

.header-container ul li:hover {
  background-color: rgb(200, 200, 200);
}

.header-container ul a {
  color: black;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.header-user {
  align-items: center;
  display: flex;
}

.header-user div {
  height: 50px;
  margin-right: 2px;
  width: 50px;
}

.header-user div img {
  border: 1px solid black;
  border-radius: 50px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
