.search-page {
  display: flex;
}

.form-results-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.search-form {
  align-items: center;
  display: flex;
  height: 15%;
  justify-content: center;
}

input {
  width: 350px;
}

.albuns-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 0 50px;
}

.albuns-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 50px 50px 20px;
}

.albuns-container p {
  align-self: center;
}

.albuns-container h2 {
  margin-bottom: 50px;
}

.albuns-list li {
  border: 1px solid black;
  list-style: none;
  margin: 10px 0;
  padding: 20px;
  width: 600px;
}
